# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vscode/launch.json
.vscode/c_cpp_properties.json
.pio/build/seeed_xiao_esp32s3/tmpxrudu1vi.tmp
.pio/build/seeed_xiao_esp32s3/tmptcv2u91u.tmp
.pio/build/seeed_xiao_esp32s3/tmps8ss_w2a.tmp
.pio/build/seeed_xiao_esp32s3/tmps3pu43ca.tmp
.pio/build/seeed_xiao_esp32s3/tmprqhemkgn.tmp
.pio/build/seeed_xiao_esp32s3/tmponyznm_u.tmp
.pio/build/seeed_xiao_esp32s3/tmpni2_54st.tmp
.pio/build/seeed_xiao_esp32s3/tmpm0u21kis.tmp
.pio/build/seeed_xiao_esp32s3/tmpgu0lpv1u.tmp
.pio/build/seeed_xiao_esp32s3/tmpbg8nylzz.tmp
.pio/build/seeed_xiao_esp32s3/tmp73nb053t.tmp
.pio/build/seeed_xiao_esp32s3/tmp35kw11bh.tmp
.pio/build/seeed_xiao_esp32s3/tmp9bf3dlkm.tmp
.pio/build/seeed_xiao_esp32s3/tmp8nqi57ru.tmp
.pio/build/seeed_xiao_esp32s3/tmp8hcvoyuv.tmp
.pio/build/seeed_xiao_esp32s3/tmp6t15ag2i.tmp
.pio/build/seeed_xiao_esp32s3/tmp4qown20p.tmp
.pio/build/seeed_xiao_esp32s3/tmp04mfje3_.tmp
.pio/build/seeed_xiao_esp32s3/tmp1l4pye5h.tmp
.pio/build/seeed_xiao_esp32s3/tmp_gdilw4a.tmp
.pio/build/seeed_xiao_esp32s3/longcmd-04f217db2e0c2814aee1d7461b53c960
.pio/build/seeed_xiao_esp32s3/idedata.json
.pio/build/seeed_xiao_esp32s3/firmware.map
.pio/build/seeed_xiao_esp32s3/firmware.elf
.pio/build/seeed_xiao_esp32s3/firmware.bin
.pio/build/seeed_xiao_esp32s3/.sconsign311.dblite
.pio/build/seeed_xiao_esp32s3/.sconsign38.dblite
.pio/build/project.checksum
.vscode/launch.json
.vscode/c_cpp_properties.json
.pio/build/seeed_xiao_esp32s3/idedata.json
.pio/build/seeed_xiao_esp32s3/firmware.map
.pio/build/seeed_xiao_esp32s3/firmware.elf
.pio/build/seeed_xiao_esp32s3/firmware.bin
.pio/build/seeed_xiao_esp32s3/.sconsign38.dblite
.pio/build/project.checksum
